@use '../abstracts' as *;

.footer {
  padding-block: fluid(50, 20, $unit: px);
  color: var(--text-inverted);
  background:
    linear-gradient(
      0deg,
      rgba(var(--background-inverted-rgb), 0.5) 0%,
      rgba(var(--background-inverted-rgb), 0.5) 100%
    ),
    url('/images/footer/background-image.jpg') 50% / cover no-repeat;

  &-container {
    padding-block: fluid(50, 20, $unit: px);
    padding-inline: fluid(50, 20, $unit: px);
    background-color: rgba(var(--background-primary-rgb), 0.1);
    backdrop-filter: blur(16px);
  }

  &-body {
    display: grid;
    grid-template-columns: minmax(160px, 0.45fr) 1fr;
    align-items: start;
    gap: 30px 40px;
    margin-block-end: fluid(40, 30, $unit: px);
    @include breakpoint-md-down {
      grid-template-columns: 1fr;
    }
  }

  &-brand {
    justify-self: start;
  }

  &-navigation {
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(toRem(150), 1fr));
      gap: 24px;
      @include breakpoint-md-down {
        grid-template-columns: repeat(auto-fill, minmax(toRem(120), 1fr));
      }
    }

    &-title {
      margin-block-end: fluid(16, 10);
    }

    &-links {
      display: grid;
    }

    &-link {
      padding-block: toRem(8);
      color: rgba(var(--text-inverted-rgb), 0.5);
      @include hover {
        color: var(--text-inverted-hover);
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding-block-start: fluid(40, 30, $unit: px);
    border-top: 1px solid rgba(var(--background-primary-rgb), 0.1);
  }

  &-copyright {
    &-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: toRem(24);
    }

    &-link {
      padding-block: toRem(5);
      @include hover {
        color: var(--text-inverted-hover);
      }
    }
  }
}
