@use '../abstracts' as *;

.footer {
  padding-block: fluid(50, 20);
  color: var(--footer-text-color);
  background:
    linear-gradient(
      0deg,
      rgba(var(--color-black-rgb), 0.5) 0%,
      rgba(var(--color-black-rgb), 0.5) 100%
    ),
    url('/images/footer/background-image.jpg') 50% / cover no-repeat;

  &-container {
    padding-block: fluid(50, 20);
    padding-inline: fluid(50, 20);
    background-color: var(--footer-background-color);
    backdrop-filter: blur(16px);
  }

  &-body {
    display: grid;
    grid-template-columns: minmax(160px, 0.45fr) 1fr;
    align-items: start;
    gap: 30px 40px;
    margin-block-end: fluid(40, 30);
    @include breakpoint-md-down {
      grid-template-columns: 1fr;
    }
  }

  &-brand {
    justify-self: start;
  }

  &-navigation {
    &-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 24px;
      @include breakpoint-md-down {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      }
    }

    &-title {
      margin-block-end: fluid(16, 10);
    }

    &-links {
      display: grid;
    }

    &-link {
      padding-block: 8px;
      color: var(--footer-link-color);
      @include hover {
        color: var(--footer-link-hover-color);
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    padding-block-start: fluid(40, 30);
    border-top: 1px solid var(--footer-bottom-border-color);
  }

  &-copyright {
    &-links {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 24px;
    }

    &-link {
      padding-block: 5px;
      @include hover {
        color: var(--footer-link-hover-color);
      }
    }
  }
}
