@use '../abstracts' as *;

.topbar {
  position: sticky;
  top: 0;
  z-index: var(--topbar-z-index);
  padding-block-start: var(--topbar-padding-block-start);
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: fluid(24, 10, $unit: px);
    min-height: var(--topbar-content-height);
    padding-block: 5px;
    padding-inline: 18px;
    border-radius: 10px;
    background-color: rgba(var(--background-primary-rgb), 0.5);
    transition:
      background-color var(--transition-duration)
        var(--transition-timing-function),
      box-shadow var(--transition-duration) var(--transition-timing-function);
    .scroll & {
      background-color: var(--background-primary);
      box-shadow: 0 0 8px 0 var(--color-gray-500);
    }

    @include breakpoint-xs-down {
      padding-inline: 10px;
    }
  }

  &-brand {
    flex-shrink: 0;
    z-index: 1;
    @include breakpoint-lg-down {
      max-width: 180px;
    }

    @include breakpoint-sm-down {
      max-width: 54px;
      height: 56px;
      overflow: hidden;
      img {
        max-width: initial;
      }
    }
  }

  &-navigation {
    @include breakpoint-lg-down {
      position: fixed;
      inset: 0;
      translate: 100% 0;
      padding-block: calc(var(--topbar-height) + 20px) 20px;
      padding-inline: 24px;
      overflow-y: auto;
      overscroll-behavior: none;
      background-color: rgba(var(--background-primary-rgb), 0.9);
      transition: translate var(--transition-duration)
        var(--transition-timing-function);
      .open & {
        translate: 0;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: toRem(48);
      @include breakpoint-lg-down {
        flex-direction: column;
        align-items: end;
      }
    }

    &-link {
      padding-block: toRem(5);
      color: var(--text-primary);
      @include hover {
        color: var(--text-primary-hover);
      }

      @include breakpoint-lg-down {
        font-size: toRem(24);
      }
    }

    &-toggle-button {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 30px;
      padding-inline: 5px;
      padding-block: 5px;
      color: var(--text-primary);
      &::before,
      &::after,
      span {
        height: 2px;
        background-color: currentColor;
      }

      &::before,
      &::after {
        content: '';
        transition:
          translate var(--transition-duration) var(--transition-timing-function),
          rotate var(--transition-duration) var(--transition-timing-function);
      }

      span {
        transition:
          scale var(--transition-duration) var(--transition-timing-function),
          opacity var(--transition-duration) var(--transition-timing-function);
      }

      .open & {
        &::before {
          translate: 0 8px;
          rotate: 45deg;
        }

        &::after {
          translate: 0 -10px;
          rotate: -45deg;
        }

        span {
          scale: 0;
          opacity: 0;
        }
      }

      @include breakpoint-lg-up {
        display: none;
      }
    }
  }

  &-user-actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
    z-index: 1;
  }
}
