.badge {
  display: inline-block;
  padding-block: 10px;
  padding-inline: 20px;
  text-align: center;
  &-primary {
    color: var(--badge-primary-text-color);
    background-color: var(--badge-primary-background-color);
  }

  &-secondary {
    color: var(--badge-secondary-text-color);
    background-color: var(--badge-secondary-background-color);
  }

  &-transparent {
    color: var(--badge-transparent-text-color);
    background-color: var(--badge-transparent-background-color);
  }

  &-small {
    padding-block: 6px;
    padding-inline: 10px;
  }
}
