@use '../abstracts' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-block: fluid(18, 16);
  padding-inline: fluid(24, 20);
  white-space: nowrap;
  font-size: var(--button-font-size);
  transition-property: background-color;
  &-primary {
    color: var(--text-accent);
    background-color: var(--background-inverted);
    @include hover {
      background-color: rgba(var(--color-black-rgb), 0.8);
    }
  }

  &-accent {
    color: var(--text-primary);
    background-color: var(--background-accent);
    @include hover {
      background-color: var(--background-accent-hover);
    }
  }
}
