@use '../abstracts' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-block: fluid(18, 16);
  padding-inline: fluid(24, 20);
  white-space: nowrap;
  transition-property: background-color;
  &-primary {
    color: var(--button-primary-text-color);
    background-color: var(--button-primary-background-color);
    @include hover {
      background-color: var(--button-primary-hover-background-color);
    }
  }

  &-accent {
    color: var(--button-accent-text-color);
    background-color: var(--button-accent-background-color);
    @include hover {
      background-color: var(--button-accent-hover-background-color);
    }
  }
}
