@use '../abstracts' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: toRem(10);
  padding-block: toRem(10);
  padding-inline: toRem(20);
  white-space: nowrap;
  transition-property: background-color;
  &-primary {
    color: var(--text-accent);
    background-color: var(--background-inverted);
  }

  &-secondary {
    color: var(--text-primary);
    background-color: var(--background-secondary);
  }

  &-accent {
    color: var(--text-primary);
    background-color: var(--background-accent);
    @include hover {
      background-color: var(--background-accent-hover);
    }
  }

  &-big {
    padding-block: fluid(18, 16);
    padding-inline: fluid(24, 20);
  }
}
