.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  > * {
    flex: 1 1 0;
    min-inline-size: 150px;
  }
}

.form-group {
  display: grid;
  row-gap: 8px;
  width: 100%;
}

.form-label {
  color: var(--form-label-color);
}

.form-control {
  width: 100%;
  padding-block: 12px;
  padding-inline: 12px;
  border: 1px solid transparent;
  line-height: 1.2;
  color: var(--form-control-text-color);
  background-color: var(--form-control-background-color);
  transition: border-color var(--transition-base);
  &::placeholder {
    color: var(--form-control-placeholder-color);
  }

  &:focus {
    border-color: var(--form-control-focus-border-color);
    outline: none;
  }
}
