@use '../abstracts' as *;

.play-button {
  display: inline-grid;
  place-content: center;
  width: fluid(64, 48);
  aspect-ratio: 1;
  background-color: var(--background-accent);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  &::before {
    content: '';
    width: fluid(30, 20);
    height: fluid(34, 24);
    background-color: var(--background-inverted);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
}
