@use '../abstracts' as *;

.metrics {
  margin-block-end: fluid(100, 40);
  padding-block: var(--section-spacing);
  color: var(--text-tertiary);
  background-color: var(--background-inverted);
  &-title {
    color: var(--text-inverted);
  }

  &-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'testimonial testimonial hero'
      'statistic   logo        hero'
      'statistic   mission     hero';
    gap: 20px;
    @include breakpoint-lg-down {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'hero        hero'
        'testimonial testimonial'
        'statistic   logo'
        'statistic   mission';
    }

    @include breakpoint-xs-down {
      grid-template-columns: 1fr;
      grid-template-areas:
        'hero'
        'testimonial'
        'statistic'
        'logo'
        'mission';
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: fluid(26, 20);
    &-testimonial,
    &-hero {
      --_padding: #{fluid(32, 16)};

      padding-block: var(--_padding);
      padding-inline: var(--_padding);
    }

    &-statistic,
    &-mission {
      --_padding: #{fluid(24, 16)};

      padding-block: var(--_padding);
      padding-inline: var(--_padding);
    }

    &-testimonial {
      grid-area: testimonial;
      background-color: rgba(var(--background-primary-rgb), 0.1);
      .metrics-card-title {
        margin-block-end: 6px;
      }
    }

    &-statistic {
      grid-area: statistic;
      align-items: start;
      background: url('/images/metrics/card-background-image-01.png') center /
        cover no-repeat;
    }

    &-logo {
      grid-area: logo;
      img {
        width: 100%;
      }
    }

    &-mission {
      grid-area: mission;
      row-gap: fluid(40, 20);
      background-color: rgba(var(--background-primary-rgb), 0.1);
    }

    &-hero {
      grid-area: hero;
      background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url('/images/metrics/card-background-image-02.jpg') center / cover
          no-repeat;
    }

    &-header {
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 16px;
      img {
        --_size: #{fluid(74, 48)};

        width: var(--_size);
        height: var(--_size);
      }
    }

    &-title {
      color: var(--text-inverted);
    }

    &-highlight {
      color: var(--text-accent);
    }

    &-badge {
      padding-block: 5px;
      padding-inline: 12px;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &-user-stats,
    &-brand {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
  }
}
